# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# customize
socket_client/**/*.aps
socket_client/**/*.rc
socket_client/**/*.sln
socket_client/**/*.vcxproj
socket_client/**/*.filters
socket_client/**/*.user
socket_client/Debug/
socket_client/.vs/

socket_server/**/*.aps
socket_server/**/*.rc
socket_server/**/*.sln
socket_server/**/*.vcxproj
socket_server/**/*.filters
socket_server/**/*.user
socket_server/Debug/
socket_server/.vs/
